/* Mun määritykset */
.virhe {
	/* @SuppressWarning */
	-fx-background-color: #ccbc52;
}
.normaali {
	/* @SuppressWarning */
	-fx-background-color: inherit;
}
.button:default-button {
	-fx-base: #cc7a89;
}
/* Ei toimi... apua? default-button ei ilmeisesti ole oikea, vaikka kyllä-nappi sininen onkin */
.dialog-pane .button:default-button {
    	-fx-base:  #cc7a87;
}

.dialog-pane {
    	-fx-base:  #9aa0ac; 
}
.dialog-pane {
	-fx-pref-width: 300px;
    	-fx-pref-height: 200px;
	-fx-font-family: Arial;
	-fx-font-size: 16px;
}
