/* Mun määritykset */
.text-field.virhe {
	/* @SuppressWarning */
	-fx-control-inner-background: #ccbc52;
}

.label.virhe {
	/* @SuppressWarning */
	-fx-background-color: #ccbc52;
}

.text-field.normaali {
	/* @SuppressWarning */
	-fx-control-inner-background: #e9ebee;
}

.label.normaali {
	/* @SuppressWarning */
	-fx-background-color: #9aa0ac;
}

.button:default-button {
	-fx-base: #cc7a87;
}

/* Hienosti default-button eri väriseksi kuin muut */
.dialog-pane .button:default {
    -fx-base: #cc7a87;
}

.dialog-pane .button {
    -fx-base: #9aa0ac; 
}

.dialog-pane {
	-fx-base: #9aa0ac;
	-fx-pref-width:300px;
    -fx-pref-height: 200px;
	-fx-font-family: Arial;
	-fx-font-size: 16px;
}
